p {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #737373;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

.image-container2 {
  position: relative;
}

.image-container2 img {
  object-fit: cover;
  width: 100%;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-layout p {
  font-size: 1.3vw;
  padding: 0 3%;
  text-align: center;
}

.vertical-layout img {
  width: 5vw;
}

.site-footer {
  width: 100%;
  background-color: #273238;
  color: #737373;
  padding-top: 25px;
  margin-top: 2vw;
  font-size: 1vw;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.footer-links li {
  background: url(./assets/arrow.png) left center no-repeat;
  padding-left: 20px;
}

ul.social-icons li {
  display: inline-block;
  margin: 0.5vw;
}

.grid-container {
  display: grid;
  margin-top: 2.8vh;
  grid-template-columns: repeat(3, 1fr);
}

.horizontal-layout3 {
  display: flex;
}

.vertical-layout3 {
  text-align: right;
}

.left-align {
  text-align: left;
}

.vertical-layout3 h2 {
  font-weight: 500;
  white-space: nowrap;
  font-size: 1.5vw;
}

.vertical-layout3 p {
  overflow-wrap: break-word;
  color: grey;
  font-size: 1.8vw;
}

.circle {
  margin: 3%;
  border-radius: 50%;
  width: 150px;
  align-items: center;
  align-self: flex-start;
  aspect-ratio: 1/1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgb(0.4, 0, 0, 0.3);
}

.circle img {
  height: 80%;
  padding: 10%;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1vh;
  color: #fff;
  background-color: #273238;
  border: #ccc solid 1px;
  border-radius: 2vw;
}

.newsletter-container button.register-button {
  padding: 10px 20px;
  background-color: #00a2c8;
  color: #fff;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
}

.newsletter-container button.register-button:hover {
  background-color: grey;
}

.footer-links-last {
  display: flex;
  flex-wrap: nowrap;
}

.footer-links-last li {
  margin: 0 0.5vw;
}

.horizontal-layout-footer {
  padding: 0 30px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-links a {
  font-size: 25px;
  padding: 10px;
  color: #000;
  font-weight: 500;
  margin-left: 1.2vw;
}

.nav-links a:hover {
  background-color: #dcdcdc;
  color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 7vw;
  height: 1vw;
  background-color: #00a2c8;
  margin: 1.4vw;
}

#medical_services {
  font-weight: 700;
  margin-top: 20px;
}

.footer-links a:hover {
  color: #36c;
}

.find-us-icon-list li img,
.footer-links li img {
  height: 14px;
}

.nav-links {
  margin-top: 1.2vw;
  animation-name: slideDown;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
}

.success h1 {
  position: absolute;
  font-family: "Kanit", sans-serif;
  color: #00a2c8;
  white-space: nowrap;
  left: 50vw;
  top: 12vw;
  font-size: 4vw;
}

.success p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  white-space: nowrap;
  left: 50vw;
  top: 17vw;
  font-size: 2.6vw;
}

.success a {
  position: absolute;
  white-space: nowrap;
  border: none;
  background-color: #00a2c8;
  color: #fff;
  left: 50vw;
  font-size: 2vw;
  top: 24vw;
  padding: 0.7vw 1.2vw;
}

.success a:hover {
  background-color: #737373;
}


.doctor-container img {
  width: 80%;
  margin-left: 4.5vw;
}

ul.social-icons li a img {
  width: 3vh;
  margin-bottom: 10px;
}

.circle:hover {
  box-shadow: 0 2px 4px #000;
}

.copyright {
  white-space: nowrap;
  margin-bottom: 10px;
}

.copyright a {
  color: skyblue;
}

.logo img {
  height: 80px;
}

@media (max-resolution: 0.999dppx) {

  .doctor-container img {
    width: 100%;
    margin-left: 2px;
  }

  .success h1 {
    top: 280px;
    font-size: 70px;
  }

  .success p {
    font-size: 30px;
    top: 380px;
  }

  .success a {
    top: 450px;
    padding: 7px 12px;
    font-size: 20px;
  }

  .vertical-layout img {
    width: 100px;
  }

  .horizontal-layout-footer,
  .containerizer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .image-container2 img {
    height: 700px;
  }

  .site-footer,
  .vertical-layout p,
  .vertical-layout3 p {
    font-size: 30px;
  }

  .site-footer {
    margin-top: 31.5vh;
  }

  .vertical-layout3 h2 {
    font-size: 30px;
  }

  .nav-links {
    margin-top: 10px;
  }
}

@media screen and (max-width:1024px) {
  .vertical-layout3 h2,
  .vertical-layout3 p ,
  .site-footer h2,
  .newsletter-container input[type="text"],
  .newsletter-container input[type="email"]
  {
    font-size: 12px;
  }

  .circle {
    width: 80px;
  }

}

@media screen and (max-width: 767px) {
  .doctor-container img {
    margin-left: 15vw;
    margin-bottom: 10vw;
  }

  .copyright {
    font-size: 4.5vw;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .vertical-layout3 h2 {
    font-size: 4vw;
  }

  #medical_services {
    font-size: 6vw;
  }

  .logo img {
    height: 10vw;
    margin-left: 24.5vw;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 13vw;
    background-color: #00a2c8;
    text-align: center;
    z-index: 1;
  }

  .nav-links a {
    font-size: 3.5vw;
    padding: 10px;
    margin: 0;
    color: #fff;
  }

  .nav-links a:hover {
    color: #000;
    background-color: #dcdcdc;
  }

  .hamburger {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }

  ul.social-icons li a img {
    width: 10vw;
    margin-bottom: 5vw;
  }

  .newsletter-container button.register-button,
  .newsletter-container input[type="text"],
  .newsletter-container input[type="email"] {
    border-radius: 10vw;
    font-size: 3vw;
  }

  .wrapper,
  .nav-links {
    width: 100%;
    overflow-x: hidden;
  }

  .site-footer,
  .horizontal-layout3 p {
    font-size: 3vw;
  }

  .footer-links-last li {
    font-size: 4vw;
    margin: 0 1.5vw;
  }

  .vertical-layout3 p,
  .vertical-layout p {
    font-size: 4.5vw;
  }

  .circle {
    width: 10vw;
  }

  .site-footer h2 {
    font-size: 5vw;
  }

}

@media screen and (max-width:320px) {

  .horizontal-layout-footer {
    padding: 0;
  }

  header {
    padding: 5px 0 0 0;
  }

  .hamburger {
    margin: 7px 5px 5px 0;
  }

  .find-us-icon-list li img {
    height: 8px;
  }

}