@import url("https://fonts.cdnfonts.com/css/ligurino-condensed");

p {
  font-family: Arial, sans-serif;
  align-items: center;
}

html,
body {
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  zoom: 1;
}

.image-container {
  min-width: 268px;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.image-container2 {
  top: 0;
  left: 0;
}

.image-container2 img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 50vw;
  max-height: 250px;
}

.img-text h1 {
  font-family: "Kanit", sans-serif;
  color: #00a2c8;
  white-space: nowrap;
  font-size: 4vw;
}

.img-text p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  white-space: nowrap;
  font-size: 2vw;
}

.img-text button {
  white-space: nowrap;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #00a2c8;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1vw;
  width: fit-content;
}

.img-text button:hover {
  background-color: yellowgreen;
  color: black;
}

.text {
  position: relative;
  font-size: 4vw;
  font-family: "Ligurino Condensed", bold;
  color: black;
}

.vertical-layout {
  position: relative;
  min-width: 268px;
  align-self: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.vertical-layout p {
  font-size: 1.3vw;
  padding-left: 3%;
  padding-right: 3%;
}

.vertical-layout h2 {
  margin-top: 20px;
  font-size: 2vw;
}

.vertical-layout img {
  height: 2vw;
  flex: 1;
}

.site-footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #273238;
  padding: 45px 0 20px;
  min-width: 268px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

@media (max-width: 100%) {
  .site-footer [class^="col-"] {}
}

@media (max-width: 769px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text {
    text-align: center;
  }
}

ul.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-icons li {
  align-items: center;
  display: inline-block;
  margin: 0.5vw;
}

ul.social-icons li a {
  text-decoration: none;
  color: #000;
}

ul.social-icons li a img {
  width: 2vw;
  height: auto;
}

ul.social-icons li a img:hover {
  background-color: #007bb6;
  border-radius: 50%;
}

.grid-container {
  position: relative;
  display: grid;
  min-width: 268px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  object-fit: contain;
  width: 100%;
  height: fit-content;
}

.horizontal-layout3 {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 25%;
  justify-content: start;
  align-items: start;
}

.vertical-layout3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  width: 75%;
  height: 100%;
  padding: 2px;
}

.v4 {
  text-align: left;
}

.vertical-layout3 h3 {
  position: relative;
  white-space: nowrap;
}

.vertical-layout3 p {
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  object-fit: contain;
  font-size: 1.7vw;
  color: grey;
}

@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.circle {
  margin: 3%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  width: 4vw;
  aspect-ratio: 1;
  background-color: white;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-self: right;
  box-shadow: 0 2px 4px rgba(0.4, 0, 0, 0.3);
}

.circle-image {
  height: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  align-content: center;
  padding: 10%;
}

.find-us-icon-list {
  list-style: none;
  padding: 0;
}

.find-us-icon-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.find-us-icon-list li img {
  width: 14px;
  height: 14px;
}

.quick-links-icon-list {
  list-style: none;
  padding: 0;
}

.quick-links-icon-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quick-links-icon-list li img {
  width: 14px;
  height: 14px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 0;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1vh;
  color: white;
  background-color: #273238;
  border: 1px solid #ccc;
  border-radius: 2vw;
}

.newsletter-container button.register-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #00a2c8;
  color: white;
  border: none;
  border-radius: 2vw;
  font-size: 100%;
  align-self: center;
  cursor: pointer;
}

.newsletter-container button.register-button:hover {
  background-color: yellowgreen;
}

.footer-links-last {
  justify-content: flex-start;
  min-width: 268px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer-links-last li {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  width: 100%;
  white-space: nowrap;
}

.footer-section h6 {
  margin-bottom: 15px;
}

.find-us-icon-list,
.footer-links {
  padding-left: 0;
  list-style: none;
}

.find-us-icon-list li,
.footer-links li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.find-us-icon-list li img,
.footer-links li img {
  width: 14px;
  height: 14px;
}

.newsletter-container {}

.horizontal-layout-footer {
  padding-left: 2vw;
  padding-right: 2vw;
}

.doctor-item-list {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
  list-style: none;
}

.doctor-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: none;
  justify-content: center;
}

.copyright-text p {
  font-size: 100%;
  margin: 0;
}

.f4 {
  padding-bottom: 1vh;
  align-self: center;
  align-items: center;
}

.f4 p {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 1vh;
}

.c4 {
  max-width: 2200px;
  margin: 0 auto;
}

.s4 {
  margin-bottom: 0;
  max-width: 30vw;
  padding-bottom: 0;
  width: 50%;
  height: 50%;
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 35%;
  margin-top: 12%;
}

.s4 h1 {
  width: 100%;
  font-size: large;
  white-space: nowrap;
  font-family: "Kanit", sans-serif;
  color: #00a2c8;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.s4 p {
  font-size: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  align-self: flex-start;
  white-space: nowrap;
}

.s4 button {
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px;
  margin-bottom: 2px;
  font-size: 20%;
  background-color: #007bb6;
  align-self: flex-start;
}

.s4 button:hover {
  background-color: yellowgreen;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.logo {
  cursor: pointer;
  flex: 1;
}

.logo img {
  width: 14vw;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  font-size: 1vw;
  padding: 10px;
  align-items: end;
  color: black;
  margin-left: 1vw;
}

.nav-links a:hover {
  background-color: grey;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #00a2c8;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #00a2c8;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .nav-links a {
    padding: 10px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
  }
}

.nav-links {
  animation-name: slideDown;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max--moz-device-pixel-ratio: 2.99),
(-webkit-max-device-pixel-ratio: 2.99),
(max-resolution: 2.99dppx) {
  .vertical-layout3 h3 {
    font-size: 1.5vw;
  }

  .vertical-layout3 p {
    font-size: 0.7vw;
  }

  .nav-links a {
    color: black;
  }
}

@media (max--moz-device-pixel-ratio: 2.555),
(-webkit-max-device-pixel-ratio: 2.55),
(max-resolution: 2.55dppx) {
  .vertical-layout3 h3 {
    font-size: 2vw;
  }

  .vertical-layout3 p {
    font-size: 0.5vw;
  }
}

@media (max--moz-device-pixel-ratio: 2.49),
(-webkit-max-device-pixel-ratio: 2.49),
(max-resolution: 2.49dppx) {
  .vertical-layout3 h3 {
    font-size: 1.2vw;
  }

  .vertical-layout3 p {
    font-size: 1.3vw;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 100px;
  }
}

@media (max--moz-device-pixel-ratio: 1.55),
(-webkit-max-device-pixel-ratio: 1.55),
(max-resolution: 1.55dppx) {
  .nav-links a {
    margin-left: 4vw;
  }
}

@media (max--moz-device-pixel-ratio: 0.999),
(-webkit-max-device-pixel-ratio: 0.999),
(max-resolution: 0.999dppx) {
  .horizontal-layout-footer {
    align-self: center;
    max-width: 2200px;
    margin-right: auto;
    margin-left: auto;
  }

  .image-container img {
    width: 100vw;
    height: 20vw;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  header {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .nav-links a {
    font-size: 2vh;
    margin-left: 3vw;
  }

  .img-text h1 {
    font-size: 100px;
  }

  .img-text p {
    font-size: 50px;
  }

  .img-text button {
    font-size: 25px;
  }

  .nav-links a {
    font-size: 2vh;
    margin-left: 2vw;
  }

  .image-container {
    margin: 0;
  }
}

@media (max--moz-device-pixel-ratio: 0.55),
(-webkit-max-device-pixel-ratio: 0.55),
(max-resolution: 0.55dppx) {
  .logo img {
    width: 7vw;
  }

  .vertical-layout3 p {
    font-size: 0.8vh;
  }

  .site-footer {
    font-size: 1vh;
    line-height: 1vw;
  }

  .vertical-layout h2 {
    font-size: 0.8vh;
  }

  .vertical-layout p {
    font-size: 1.3vh;
  }

  .vertical-layout img {
    size: 0.5vw;
  }

  .nav-links a {
    font-size: 0.5vw;
    margin-left: 0.5vw;
  }

  .circle {
    width: 4vw;
    aspect-ratio: 1;
  }

  .col-md-4 h6 {
    font-size: 1vh;
  }

  .vertical-layout h2 {
    font-size: 2vh;
  }

  .vertical-layout img {
    width: 2vw;
  }

  .vertical-layout3 h3 {
    font-size: 40px;
  }

  .vertical-layout3 p {
    font-size: 40px;
  }

  .image-container img {
    height: 15vw;
  }

  .nav-links a {
    font-size: 1.7vh;
    margin-left: 1vw;
  }
}

@media (max--moz-device-pixel-ratio: 0.34),
(-webkit-max-device-pixel-ratio: 0.34),
(max-resolution: 0.34dppx) {
  .circle {
    width: 1vw;
    aspect-ratio: 1;
  }
}

@media (max--moz-device-pixel-ratio: 0.32),
(-webkit-max-device-pixel-ratio: 0.32),
(max-resolution: 0.32dppx) {
  .nav-links a {
    font-size: 1.5vh;
    margin-left: 1vw;
  }

  .site-footer {
    position: fixed;
  }

  .grid-container {
    height: 1500px;
  }

  .vertical-layout h2 {
    font-size: 55px;
  }

  .image-container img {
    height: 10vw;
  }
}

@media (min--moz-device-pixel-ratio: 0.999),
(-webkit-min-device-pixel-ratio: 0.999),
(min-resolution: 0.999dppx) {
  .img-text {
    top: 20vh;
  }

  .img-text h1 {
    font-size: 9vh;
  }

  .img-text p {
    font-size: 5vh;
  }

  .img-text button {
    font-size: 2.5vh;
    padding: 1px;
  }
}

@media (max-width: 1280px) {
  .nav-links a {
    font-size: 2vw;
  }

  .vertical-layout3 p {
    font-size: 1.3vw;
  }
}

@media (max-width: 912px) {
  .img-text {
    top: 10vw;
  }

  .img-text h1 {
    font-size: 4vw;
  }

  .img-text p {
    font-size: 2vw;
  }

  .img-text button {
    font-size: 1vw;
  }
}

@media (max-width: 769px) {
  ul.social-icons li a img {
    width: 5vw;
    height: auto;
  }

  .vertical-layout3 h3,
  .vertical-layout h2 {
    font-size: 2vw;
  }

  .vertical-layout3 p,
  .vertical-layout p {
    font-size: 2vw;
  }

  .find-us-icon-list li,
  .newsletter-container input::placeholder,
  .newsletter-container button.register-button,
  .footer-links li,
  .text-justify,
  .footer-links-last li {
    font-size: 3vw;
  }
}

@media (max-width: 540px) {
  .vertical-layout3 h3 {
    font-size: 4vw;
  }

  .vertical-layout3 p,
  .vertical-layout p {
    font-size: 4vw;
  }

  .circle {
    width: 5vh;
    aspect-ratio: 1;
  }
}

.circle:hover {
  box-shadow: 0 2px 4px rgba(0.5, 0.2, 0.8, 2.5);
}

.wrapit {
  margin-bottom: 0;
}

@media (device-width: 912px) and (device-height: 1368px) {
  .horizontal-layout-footer {
    height: 21vh;
  }
}

@media (device-width: 800px) and (device-height: 1280px) {
  ul.social-icons {
    height: 100px;
  }
}

@media (device-width: 240px) and (device-height: 320px) {
  .img-text {
    top: 20px;
    left: 130px;
  }
}

@media (device-width: 768px) and (device-height: 1024px) {

  .col-md-4 p,
  .col-md-4 ul li {
    font-size: 1.5vh;
  }

  .footer-links-last li a {
    font-size: 15px;
  }
}