p {
  font-family: Arial, sans-serif;
  align-items: center;
}

a {
  text-decoration: none;
}

.image-container2 {
  position: relative;
}

.image-container2 img {
  width: 100%;
  object-fit: cover;
}

.vertical-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-layout p {
  font-size: 1.3vw;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.vertical-layout img {
  width: 5vw;
}

.site-footer {
  position: relative;
  width: 100%;
  background-color: #273238;
  padding: 45px 0 20px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer h2 {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  background: url(./assets/arrow.png) left center no-repeat;
  padding-left: 20px;
  list-style: none;
}

.footer-links.inline li {
  display: inline-block;
}

ul.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-icons li {
  align-items: center;
  display: inline-block;
  margin: 0.5vw;
}

ul.social-icons li a {
  color: #000;
}

ul.social-icons li a img {
  width: 2vw;
}

ul.social-icons li a img:hover {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.horizontal-layout3 {
  display: flex;
  width: 100%;
  height: 25%;
}

.vertical-layout3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 75%;
  height: 100%;
  padding: 2px;
}

.left-align {
  text-align: left;
}

.vertical-layout3 h2 {
  font-weight: 500;
  white-space: nowrap;
}

.vertical-layout3 p {
  position: relative;
  overflow-wrap: break-word;
  color: grey;
}

.circle {
  margin: 3%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  width: 4vw;
  aspect-ratio: 1/1;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-shadow: 0 2px 4px rgb(0.4, 0, 0, 0.3);
}

.circle img {
  height: 80%;
  padding: 10%;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1vh;
  color: #fff;
  background-color: #273238;
  border: #ccc solid 1px;
  border-radius: 2vw;
}

.newsletter-container button.register-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #00a2c8;
  color: #fff;
  border: none;
  border-radius: 2vw;
  font-size: 100%;
  cursor: pointer;
}

.newsletter-container button.register-button:hover {
  background-color: grey;
}

.footer-links-last {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.footer-links-last li {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.find-us-icon-list,
.footer-links {
  list-style: none;
}

.horizontal-layout-footer {
  padding-left: 2vw;
  padding-right: 2vw;
}

.doctor-item-list {
  width: 100%;
  height: 100%;
  list-style: none;
}

.containerizer {
  max-width: 2200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 14vw;
}

.nav-links a {
  font-size: 1vw;
  padding: 10px;
  color: #000;
  font-weight: 500;
  margin-left: 10px;
}

.nav-links a:hover {
  background-color: #dcdcdc;
  color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #00a2c8;
  margin: 5px;
}

#medical_services {
  font-weight: 700;
  margin-top: 20px;
}

.footer-links a:focus,
.footer-links a:hover {
  color: #36c;
}

.find-us-icon-list,
.quick-links-icon-list {
  list-style: none;
  padding: 0;
}

.find-us-icon-list li,
.find-us-icon-list li,
.footer-links li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.find-us-icon-list li img,
.quick-links-icon-list li img,
.find-us-icon-list li img,
.footer-links li img {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 1024px) {
  #medical_services {
    font-size: 2.7vw;
    margin-left: 1vw;
  }
}

.nav-links {
  animation-name: slideDown;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media (max-resolution: 1.55dppx) {
  .nav-links a {
    margin-left: 4vw;
  }
}

@media (max-resolution: 0.999dppx) {
  .horizontal-layout-footer {
    max-width: 2200px;
    margin-right: auto;
    margin-left: auto;
  }

  .image-container2 img {
    width: 100vw;
    height: 20vw;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    position: relative;
  }

  header {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .image-container2 {
    margin: 0;
  }

  .nav-links a {
    margin-left: 80px;
    margin-right: 10px;
    font-size: 27px;
  }
}

@media (max-resolution: 0.55dppx) {
  .logo img {
    width: 7vw;
  }

  .site-footer {
    font-size: 1vh;
    line-height: 1vw;
  }

  .col-md-4 h2 {
    font-size: 1vh;
  }

  .vertical-layout h2 {
    font-size: 2vh;
  }

  .vertical-layout p {
    font-size: 1.3vh;
  }

  .vertical-layout img {
    width: 2vw;
  }

  .image-container2 img {
    height: 15vw;
  }

  .nav-links a {
    font-size: 1.7vh;
    margin-left: 1vw;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    font-size: 20px;
    padding-left: 20px;
  }

  .vertical-layout3 h2,
  .vertical-layout3 p {
    font-size: 40px;
  }
}

.doctor-container img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-resolution: 0.32dppx) {
  .doctor-container img {
    margin-top: 200px;
  }

  .site-footer {
    position: fixed;
  }

  .nav-links a {
    font-size: 1.5vh;
    margin-left: 1vw;
  }

  ul.social-icons li a img {
    width: 100px;
    height: 100px;
    margin-bottom: 5vw;
  }

  .grid-container {
    height: 1400px;
  }

  .vertical-layout h2 {
    font-size: 55px;
  }

  .image-container2 img {
    height: 10vw;
  }
}

.circle:hover {
  box-shadow: 0 2px 4px #000;
}

.wrapper {
  margin-bottom: 0;
}

@media (width: 800px) and (height: 1280px) {
  ul.social-icons {
    height: 100px;
  }

  .site-footer {
    margin-top: 50px;
  }
}

@media (width: 912px) and (height: 1368px) {
  .site-footer {
    margin-top: 50px;
  }
}

@media (max-resolution: 0.34dppx) {
  .circle {
    width: 1vw;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    font-size: 40px;
    padding-left: 40px;
  }
}

@media (min-resolution: 0.51dppx) and (max-resolution: 1.499dppx) {
  .horizontal-layout3 h2 {
    font-size: 1.5vw;
  }

  .horizontal-layout3 p {
    font-size: 1vw;
  }
}

@media (min-resolution: 0.9dppx) and (max-resolution: 2.49dppx) {
  .vertical-layout3 h2 {
    font-size: 1.5vw;
  }
}

@media (min-resolution: 0.79dppx) {
  .vertical-layout3 p {
    font-size: 1.5vw;
  }
}

.left-shift {
  margin-left: -60px;
  z-index: -1;
}

#success {
  left: 45vw;
  position: absolute;
  top: 110px;
  font-family: "Kanit", sans-serif;
  color: #00a2c8;
  white-space: nowrap;
  font-size: 100px;
}

#success_p {
  left: 45vw;
  position: absolute;
  font-size: 30px;
  top: 240px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  white-space: nowrap;
}

#blue_button {
  white-space: nowrap;
  position: absolute;
  border: none;
  background-color: #00a2c8;
  color: #fff;
  top: 330px;
  left: 45vw;
  padding: 7px 12px;
  width: fit-content;
  font-size: 20px;
}

#blue_button:hover {
  background-color: #737373;
}

@media (min-resolution: 1dppx) {
  #success {
    left: 55vw;
    top: 8vw;
    font-size: 4vw;
  }

  #success_p {
    left: 55vw;
    top: 14vw;
    font-size: 2.6vw;
  }

  #blue_button {
    left: 55vw;
    font-size: 2vw;
    top: 23vw;
    padding: 0.7vw 1.2vw;
  }
}

@media screen and (max-width: 767px) {
  .left-shift {
    margin-left: 0;
  }

  .site-footer {
    padding-bottom: 0;
  }

  .doctor-item-list {
    padding-right: 10vw;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .vertical-layout3 h2 {
    font-size: 4vw;
  }

  #medical_services {
    font-size: 6vw;
  }

  header {
    height: 50px;
  }

  .logo img {
    height: 40px;
    object-fit: contain;
    margin: 5px;
    width: 40vw;
    margin-left: 22vw;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #00a2c8;
    text-align: center;
    z-index: 1;
  }

  .nav-links a {
    font-size: 3.5vw;
    padding: 10px;
    margin: 0;
    width: 100%;
    color: #fff;
  }

  .nav-links a:hover {
    color: #000;
    background-color: #dcdcdc;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
  }

  ul.social-icons li a img {
    width: 5vw;
    width: 10vw;
    height: 10vw;
    margin-bottom: 5vw;
  }

  .newsletter-container button.register-button,
  .newsletter-container input[type="text"],
  .newsletter-container input[type="email"] {
    border-radius: 10vw;
    font-size: 3vw;
  }

  .vertical-layout img {
    width: 10vw;
  }

  .wrapper,
  .nav-links {
    margin: auto;
    width: 100%;
    overflow-x: hidden;
  }

  .find-us-icon-list li,
  .footer-links li,
  .text-justify,
  .footer-links-last li,
  .horizontal-layout3 p,
  .vertical-layout h2 {
    font-size: 3vw;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    font-size: 3vw;
    margin-left: 1vw;
  }

  .vertical-layout3 p,
  .vertical-layout p {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 168px) {
  .logo img {
    display: block;
    padding-left: 0;
    width: 50vw;
    margin-left: 1vw;
  }

  .line {
    width: 10vw;
    height: 1.2vw;
    margin: 1.7vw;
  }

  .col-md-4 h2 {
    font-size: 10vw;
  }

  .doctor-item-list {
    margin-left: -15vw;
  }

  .circle {
    width: 20vw;
  }
}

@media screen and (max-width: 114px) and (min-height: 1200px) {
  .site-footer {
    margin-top: 180px;
  }
}

@media screen and (max-width: 80px) {
  .doctor-item-list {
    margin-left: -31vw;
  }
}